:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

img {
  display: block;
}
